
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,700&display=swap');
:root{
    --orange: hsl(25, 97%, 53%);
--white: hsl(0, 0%, 100%);
--light-grey: hsl(217, 12%, 63%);
--medium-grey: hsl(216, 12%, 54%);
--dark-blue: hsl(213, 19%, 18%);
--darken-blue: hsl(216, 12%, 8%);
--border:hsl(213, 20%, 22%);

};
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img, svg{
    max-width: 100%;
}
li{
    list-style-type: none;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--darken-blue);
    font-family: "Over";

}
main{
    border-radius: 1rem;
    
}
.rating-container, .thank-you-card{
    width: 348px; 
margin: 0 2rem;
      background-color: var(--dark-blue);

      border-radius: 1rem;
      padding: 1.5rem;

}
.rating-star{
    width: fit-content;
    padding: .5rem;
    border-radius: 50%;
    background-color: var(--border);
    display: flex;
    
}
.rating-star>img{
    border-radius: 50%;


}

.main-heading{
    color: var(--white);
    letter-spacing: 0.03rem;


}
.main-paragraph{
    color: var(--light-grey);
    line-height: 1.35rem;

}
form{
    display: grid;
    gap: 1rem;
}
fieldset{
    border: none;
    display: flex;
    justify-content: space-between;
}
fieldset input{
    width: 100%;
}
.rating-input{
position: relative;
    width: 38px;
    height: 38px;
display: grid;
place-items: center;
    border-radius: 50%;
    background-color: var(--border);
    color: var(--medium-grey);
}
.rating-input:nth-child(1){
    margin-left: -1rem;
}
.label-rating{
    inset: 0;
    border-radius: 50%;

position: absolute;
display: grid;
place-items: center;
cursor: pointer;

}
input[type="radio"]{
appearance: none;
}
input[type="radio"]:checked + .label-rating,
input[type="radio"]:focus + .label-rating{
    
    background-color: var(--medium-grey);
    color: var(--white);
}
input[type="radio"]:hover  + .label-rating{
   
    background-color: var(--orange);
color: var(--white);
}

.hover{
    transition: all .3s ease-in-out;
    color: var(--orange);
    background-color: var(--white);
}
.btn{
    padding:.5rem 0  ;

}
.submit-btn{
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 1.5rem;
    padding: .5rem;
    background-color: var(--orange);
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 2px;
}
.submit-btn:hover{
    background-color: var(--white);
    color: var(--orange);
    transition: all .5s ease-in-out;

}
.hidden{
    display: none;
}
.thank-you-card{
  
    text-align: center;

}


.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;

}
.paragraph >p{
    border-radius: 2rem;
    background-color: var(--border);
    color: var(--orange);
    text-align: center;
    width: auto;
    padding: 0.25rem  .75rem;

 
}
.card-paragraph{
    color: var(--light-grey);
    text-align: center;

}
